.about {
  padding: 120px 0;

  background: #081726;
}

.about-container {
  display: grid;

  grid-template-columns: 1fr 1fr;

  gap: 70px;

  align-items: center;
}

.about-image img {
  width: 100%;

  border-radius: 30px;

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

.about-content span {
  color: var(--primary-color);

  font-weight: bold;

  text-transform: uppercase;
}

.about-content h2 {
  font-size: 3rem;

  color: white;

  margin: 20px 0;
}

.about-content p {
  color: rgba(255, 255, 255, 0.7);

  line-height: 1.8;

  margin-bottom: 20px;
}

.about-cards {
  display: flex;

  gap: 25px;

  margin-top: 40px;
}

.about-card {
  background: rgba(255, 255, 255, 0.05);

  border: 1px solid rgba(255, 255, 255, 0.1);

  backdrop-filter: blur(10px);

  padding: 30px;

  border-radius: 20px;

  flex: 1;
}

.about-card h3 {
  color: var(--primary-color);

  font-size: 2rem;

  margin-bottom: 10px;
}

.about-card span {
  color: white;
}
